a:link,
a:visited,
a:hover,
a:active {
    color: black;
}

body {
    margin-left: 10%;
    margin-top: 1em;
    margin-right: 10%;
    background-color: #FDFDF0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-align: center;
}

header {
    margin-top: 1rem;
    border-bottom-style: solid;
    border-bottom-color: #666666;
    border-bottom-width: 2px;
    color: #666666;
}

main p img {
    width: 18rem;
}

main form div {
    width: 25%;
    border-radius: .5rem;
    background: #cccccc;
    padding: .15rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .25rem;
}

main form div p {
    margin: 0;
    padding: .25rem;
    margin-bottom: .5rem;
    text-align: justify;
}

main form div h3 {
    margin: 0;
    padding: 0;
    margin-bottom: .5rem;
}

main section h2 {
    margin: 0;
    padding: 0;
    margin-top: .5rem;
}

main section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main section ul li {
    text-align: center;
    font-size: 1.5rem;
    margin: .25rem .25rem;
}

input[type=text] {
    padding: .25rem .25rem;
    margin-left: .5rem;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: #666666;
    color: white;
    padding: 1rem 8rem;
    text-decoration: none;
    margin: .5rem .25rem;
    cursor: pointer;
    font-size: 1.5rem;
}

footer {
    margin-top: 3rem;
    border-top-style: solid;
    border-top-color: #666666;
    border-top-width: 2px;
    color: #666666;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-success .alert-link {
    color: #0c4128;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert-danger .alert-link {
    color: #6a1a21;
}